<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DogGuardians - Play & Protect & Earn</title>
  <meta name="description" content="The world's first cryptocurrency and game aimed at protecting stray dogs." />
  <meta name="keywords" content="dog guardians, dogg, $dogg, dogguardians" />
  <meta name="author" content="guardians.dog" />
  <meta name="robots" content="index, follow">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.guardians.dog/">
  <meta property="og:title" content="DogGuardians - Play & Protect & Earn">
  <meta property="og:description" content="The world's first cryptocurrency and game aimed at protecting stray dogs.">
  <meta property="og:image" content="https://www.guardians.dog/images/og-image.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="@dogguardians_">
  <meta property="twitter:title" content="DogGuardians - Play & Protect & Earn">
  <meta property="twitter:description" content="The world's first cryptocurrency and game aimed at protecting stray dogs.">
  <meta property="twitter:image" content="https://www.guardians.dog/images/og-image.jpg">

  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-968ZS31F6T"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-968ZS31F6T');
</script>
  <link rel="canonical" href="https://www.guardians.dog/">
  
  <!-- favicon -->
  <link rel="icon" href="/images/favicon.png" type="image/png" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
 

</head>

<body>

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <div class="logo">
            <a href="/"><img src="/images/site-logo.png" alt="Logo DogGuardians"></a>
         </div>
    
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <!-- <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tokenomics">Tokenomics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#roadmap">Roadmap</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#partners">Partners</a>
              </li>
              <li class="nav-item" id="lastmenuitem">
                <a class="nav-link" href="/join" id="lastmenuitemlink">Join the ICO</a>
              </li>
            </ul>
            <div class="quote_btn-container">
              <a href="/join" class="quote_btn">
                Join the ICO
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section" style="padding-top: 0px">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="img-box">
              <img src="images/dogg-first-page1.png" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <h1>Play & Protect & Earn</h1>
              <p>The world's first cryptocurrency and game aimed at protecting stray dogs.</p>
              <div class="btn-box">
                <a href="/join" class="btn1">Buy $DOGG</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- end slider section -->
  </div>
  <!-- about section -->

  <section id="about" class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About
              </h2>
            </div>
            <p>
              DogGuardians is the cross-platfrom P2E game. $DOGG is the reward token of the game and launched on Solana blockchain. Compared to other memecoins, DogGuardians is not just for entertainment purpose and its main goal is to contribute to the protection of stray dogs. Players can earn $DOGG by completing tasks and levels in the game, without needing to purchase any NFT or tool initially. The project's main revenue comes from in-game advertising.
            </p>
            <a href="/whitepaper" target="_blank">
              Read Whitepaper
            </a>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="images/about-img.png" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- tokenomics section -->
  
  <section id="tokenomics" class="tokenomics_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Tokenomics
              </h2>
            </div>
            <p style="line-height: 1.7em;">
              Token Symbol : <b style="color: #ffbd45;">$DOGG</b><br>
              Blockchain Network : <b style="color: #ffbd45;">Solana</b><br>
              Max Supply : <b style="color: #ffbd45;">800 billion</b><br>
              ICO Price : <b style="color: #ffbd45;">0.0001$</b><br>
              Contract Address: <span class="copy-icon" onclick="copyContractAddress()"></span><b style="color: #ffbd45;" class="contract-address">ASniBZAKtrepawfHU9McMfxbbYjayScD67oq451HaHCy</b><br><br><br>
              <i>Privileges for Token Holders:</i><br>
              <b>12% APY reward on Staking</b><br>
              <b>0.3% tax distribution from every</b><br>
              <b>transaction</b><small> (with upgrade to SPL Token-2022)</small>
            </p>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="images/tokenomics.png" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end tokenomics section -->

  <!-- roadmap section -->
  <section id="roadmap" class="roadmap_section layout_padding">
    <h2>Roadmap</h2>
      <table>
          <thead>
              <tr>
                  <th>Q4 2024</th>
                  <th>Q1 2025</th>
                  <th>Q2 2025</th>
                  <th>Q3 2025</th>
                  <th>Q4 2025</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td data-title="Q1 2024">
                    🔸 Website Launch<br />
                    🔸 Token development<br />
                    🔸 Social Media accounts
                  </td>
                  <td data-title="Q2 2024">
                    🔸 ICO Sales<br />
                    🔸 Worldwide project announcement<br />
                    🔸 Cross-platform Game Development
                  </td>
                  <td data-title="Q3 2024">
                    🔸 First token unlock<br />
                    🔸 DEX & CEX listings (early February est.)<br />
                    🔸 Mobile Game launch
                  </td>
                  <td data-title="Q4 2024">
                    🔸 Creating our own Dog Shelters<br />
                    🔸 Web & PC game launch<br />
                    🔸 Bug Bounty program
                  </td>
                  <td data-title="Q1 2025">
                    🔸 Partnership with Global Animal Welfare Organizations<br />
                    🔸 Partnership with other memecoin projects<br />
                    🔸 Upgrade to SPL Token-2022
                  </td>
              </tr>
          </tbody>
      </table>
    </div>
  </section>
  <!-- end roadmap section -->

    <!-- partners section -->
    <section class="partners_section layout_padding" id="partners">
      <div class="container">
        <div class="heading_container">
          <h2>
            Partners
          </h2>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="box">
              <div class="img-box">
                <img src="images/01.png" alt="">
              </div>
              <div class="detail-box">
              
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box">
              <div class="img-box">
                <img src="images/02.png" alt="">
              </div>
              <div class="detail-box">

               
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box">
              <div class="img-box">
                <img src="images/03.png" alt="">
              </div>
              <div class="detail-box">
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box">
              <div class="img-box">
                <img src="images/04.png" alt="">
              </div>
              <div class="detail-box">

                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end partners section -->


  <div class="footer_container">
    <!-- info section -->

    <section class="info_section">
      <div class="container">
        <div class="row" id="info_section_row">
          <div class="col-md-6 col-lg-3">
            <div class="info_detail">
              <div class="logo">
                <a href="/"><img src="/images/site-logo.png" alt="Logo DogGuardians"></a>
             </div>
              <p style="text-align: center; margin-bottom: 2px; margin-top: 30px;">Legal Disclaimer</p>
             <small>
              This website does not constitute an offer to purchase or solicitation to sell, nor is it a recommendation to buy or sell, any token or other product...<span id="disclaimerText"> Purchasing and selling tokens is inherently risky and holders must bear their risk of loss. Neither the authors of this website nor any participants in the DogGuardians project accept any liability for losses or taxes that holders, purchasers or sellers may incur. The value of DOGG may decrease and may be highly volatile.
            This website is not directed towards any person located in a jurisdiction where purchasing, selling or holding DOGG is prohibited or regulated. Consult your local laws before transacting in any cryptocurrency. You can also review our  <a href="https://guardians.dog/privacy-policy" target="_blank" style="color:white; text-decoration: underline;" onmouseover="this.style.color='#007bff';" onmouseout="this.style.color='white';">"Privacy Policy"</a> and <a href="https://guardians.dog/terms-conditions" target="_blank" style="color:white; text-decoration: underline;" onmouseover="this.style.color='#007bff';" onmouseout="this.style.color='white';">"Terms & Conditions"</a>.
            </span>
              <span id="readMore" onclick="showMore()" style="margin-left: 3px;">read more</span>
            </small>
              
            </div>
          </div>
          
          <div class="col-md-6 col-lg-4" id="ico_stats">
            <h4 style="text-align: center;">
              ICO Stats
            </h4>
            <div>
              <div class="flex-container" style="margin-bottom: -10px;">
                <div style="color: #F5A23F;"><small><b>$362,000 Raised</b></small></div>
                <div style="color: #F5A23F;"><small>of $20,000,000 Goal</small></div>
              </div>
              <div class="progress-container">
                <div class="progress-bar"></div>
              </div>
              <div style="text-align: center; margin-top: 10px;">1 $DOGG = 0.0001 USDT</div>
            </div>
            <div style="text-align: center;">
            <a href="/join">
              Buy $DOGG
            </a>
          </div>
          </div>
          <div class="col-md-6 col-lg-3" id="contact">
            <div class="info_contact">
              <h4>
                Contact
              </h4>
              <div class="contact_link_box">
                <p>General enquiries : <a href="mailto:info@guardians.dog"><b>info@guardians.dog</b></a></p>
                <p>Business enquiries : <a href="mailto:business@guardians.dog"><b>business@guardians.dog</b></a></p>



              </div>
            </div>
            <div class="info_social">
              <a href="https://x.com/dog_guardians">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-telegram" aria-hidden="true"></i>
              </a>
              <a href="https://www.youtube.com/@dog_guardians">
                <i class="fa fa-youtube" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end info section -->

    <!-- footer section -->
    <footer class="footer_section">
      <div class="container">
        <p>
          &copy; <span id="displayYear"></span> DogGuardians - All Rights Reserved
          
        </p>
      </div>
    </footer>
    <!-- footer section -->
  </div>

  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <script src="js/custom.js"></script>

</body>

</html>