<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reset password - DogGuardians</title>
  <meta name="description" content="The world's first cryptocurrency and game aimed at protecting stray dogs." />
  <meta name="keywords" content="dog guardians, dogg, $dogg, dogguardians" />
  <meta name="author" content="guardians.dog" />
  <meta name="robots" content="noindex, nofollow">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.guardians.dog/">
  <meta property="og:title" content="DogGuardians - Play & Protect & Earn">
  <meta property="og:description" content="The world's first cryptocurrency and game aimed at protecting stray dogs.">
  <meta property="og:image" content="https://www.guardians.dog/images/og-image.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="@dogguardians_">
  <meta property="twitter:title" content="DogGuardians - Play & Protect & Earn">
  <meta property="twitter:description" content="The world's first cryptocurrency and game aimed at protecting stray dogs.">
  <meta property="twitter:image" content="https://www.guardians.dog/images/og-image.jpg">

  <meta name="google-site-verification" content="" />
  <link rel="canonical" href="https://www.guardians.dog/">
  
  <!-- favicon -->
  <link rel="icon" href="/images/favicon.png" type="image/png" />

 <!-- bootstrap core css -->
 <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
 
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <style>
    body {
      font-family: Tahoma, sans-serif;
      background-color: #000A14;
      padding: 20px;
      margin: auto;

    }

    #formclass {

      background-color: #f9f9f9;
      border-radius: 5px;
      padding: 20px;
    }
    a{
      text-decoration: underline;
    }
  </style>

</head>
<!-- body -->

<body class="main-layout inner_page">


  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a href="/" style="display: block; text-align: center; margin-top: 7px;">
            <img src="/images/site-logo.png" alt="Logo" style="max-height: 60px; max-width: 196px;">
          </a>
        </div>
        <div class="container my-5" style="margin-top: 20px !important;">
          <div class="row justify-content-center">
            <div class="col-md-6" id="formclass">
              <h3 style="margin-top: 0px; margin-bottom: 25px; text-align: center;"><b>Reset password</b></h3>
              <form id="password-form">
                <div class="form-group">
                  <label for="email-input">Email</label>
                  <div class="input-group">
                    <input type="email" class="form-control" id="email-input" name="email" required>
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button" id="emailverifybutton">send code</button>
                    </div>
                  </div>
                </div>
                <div class="form-group" style="width:65%">
                  <label for="otp-input">Verification Code</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="otp-input" name="otpCode" required>
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button" id="otp-button">verify</button>
                    </div>
                  </div>
                </div>
                <div class="form-group" id="passwordchangeplace" style="display: none;">
                  <label for="password-input">New password</label>
                  <input type="password" class="form-control" id="password-input" name="newPassword" required>
                  <button type="submit" class="btn btn-success" style="margin-top: 15px;">Update password</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Footer -->
        <footer
          style="color: grey; text-align: center; padding: 20px;position: fixed; left: 0; bottom: 0; width: 100%;font-size: 0.8em;">
          <div>
            <a href="/privacy-policy" target="_blank" style="color: grey; margin-right: 10px;">Privacy Policy</a>
            <a href="/terms-conditions" target="_blank" style="color: grey;">Terms & Conditions</a>
          </div>
          <p>©2024 DogGuardians. All Rights Reserved.</p>
        </footer>

        <script>
          const form = document.getElementById('password-form');

          form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const formData = new FormData(form);

            try {
              const response = await fetch('users/resetpassword', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(Object.fromEntries(formData))
              });

              if (response.ok) {
                Swal.fire({
            title: 'Pasword updated successfully!',
            icon: 'success',
            timer: 3000, 
            timerProgressBar: true
          }).then(() => {
            
            window.location.href = '/login';
          });
              } else {
                alert('Incorrect');
                console.log(err,"1")
              }
            } catch (err) {
              alert('Incorrect');
              console.log(err,"2")
            }
          });
        </script>

        <script>

          const emailverifybutton = document.getElementById('emailverifybutton');


          emailverifybutton.addEventListener("click", async (e) => {
            e.preventDefault();

            emailverifybutton.classList.remove("btn-primary");
            emailverifybutton.classList.add("btn-secondary");

            const email = form.email.value;

            try {
              const res = await fetch('/users/otpcodesend', {
                method: "POST",
                body: JSON.stringify({ email }),
                headers: { "Content-Type": "application/json" }
              })

              const data = await res.json();

              Swal.fire({
            title: 'Check your inbox for Verification Code',
            icon: 'success',
            timer: 5000, 
            timerProgressBar: true
          });

              console.log("DATA", data)

            } catch (err) {
              console.log("ERR::", err)
            }
          })
        </script>
        <script>

          const otpinputarea = document.getElementById('otp-input');
          const otpbutton = document.getElementById('otp-button');
          const passwordchangeplace = document.getElementById('passwordchangeplace');


          otpbutton.addEventListener("click", async () => {


            const email = form.email.value;
            const otp = form.otpCode.value;

            try {
              const res = await fetch('/users/otpverify', {
                method: "POST",
                body: JSON.stringify({ email, otp }),
                headers: { "Content-Type": "application/json" }
              })

              const data = await res.json();

              console.log("DATA2", data)

              if (data.exists) {

                otpbutton.classList.remove("btn-primary");
                otpbutton.classList.add("btn-success");
                otpbutton.textContent = "verified";
                passwordchangeplace.style.display = 'block';
              } else {
                otpbutton.classList.remove("btn-primary");
                otpbutton.classList.add("btn-danger");
                otpbutton.textContent = "wrong / invalid"

                setTimeout(function () {
                  otpbutton.classList.remove("btn-danger");
                  otpbutton.classList.add("btn-primary");
                  otpbutton.textContent = "verify"
                }, 1650)
              }


            } catch (err) {
              console.log("ERR::", err)
            }
          });
        </script>
      </div>
    </div>
  </div>
  <!-- end contact -->
  <!-- end footer -->

</body>

</html>